* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-blue: hsl(234, 17%, 12%)
}

html, body {
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
